@layer theme, base, components, utilities;
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@config "../tailwind.config.js";

@layer base {
  *,
  *::before,
  *::after {
    border-width: 0;
  }
}
body {
  @apply leading-[normal] m-0;
  /* background: linear-gradient(180deg, #ffffff, #DBEAFE); */
  min-height: 100vh;
}